{% extends "PetsWebPage/main.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div >
        <section>
            <div>
                <img class="pets-img mw-100" src="https://a-static.besthdwallpaper.com/dog-and-cat-wallpaper-1920x600-27970_57.jpg" alt="">
            </div>
            <div style="background-color: white;">
                <p class="petpage-text" style="text-align: justify;">Every year there are thousands of abandoned animals in our cities. Most of the abandonments occur during the holidays, when families that have a pet and do not know what to do with it choose to abandon it to its fate. The saddest thing of all is that this number of abandonments does not decrease but, on the contrary, increases year after year and, unfortunately, there is such a situation of impunity that people who abandon or mistreat an animal generally have. , that this does not prevent them from relapsing into the same behavior. We therefore consider it essential to pay special attention to the problem of abandoned animals.</p>

                <div class="card mb-3" style="max-width: 1000px;border-color: transparent;margin: auto;">
                    <div class="row g-0" style="margin-bottom: 3rem;">
                      <div class="col-md-4">
                        <img style="width: 100%; margin: auto; height: 25rem;" src="https://www.codigonuevo.com/binrepository/775x500/138c0/500d500/none/2283274/SIJM/captura-pantalla-2020-10-23-10-02-15-930x600_CN252064_MG11293846.png" class="img-fluid rounded" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text petpage-text2" style="text-align: justify;">To break the endless circle of abandonment, information and awareness-raising work must be carried out, which, even with longer-term effects, is equally necessary. For this reason, it is a fundamental task to draw attention to the problem of abandonment and to promote adoption and responsible ownership.

                            We consider it essential to also transmit our messages of respect and care for animals and our environment to the youngest, so that their attitudes allow a change from the base.</p>

                        </div>
                      </div>
                    </div>
                  </div>

            </div>
        </section>
        <section style="margin-bottom: 2rem; margin: 4rem; " class="objetives">
            <div class="card-group">
                <div class="card " style="padding: 2rem;">
                  <img src="https://cdn-icons-png.flaticon.com/512/5809/5809794.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong style="color:  #10b7e1;">Mission</strong></h5>
                    <p class="card-text">Try to create a better world by helping to love and protect their pets. Based on our work team, try to provide the best work possible, constantly innovating and achieving prestige that makes us endure over time.</p>
                  </div>

                </div>
                <div class="card petspage-card" style="padding: 2rem; margin: 0 2rem;">
                  <img src="https://cdn-icons-png.flaticon.com/512/1320/1320933.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong style="color:  #10b7e1;">Vision</strong></h5>
                    <p class="card-text">To be a modern and solid company, leader in the country and with international projection. Led by a team with access to the highest quality training and with a collaborative and inclusive perspective.</p>
                  </div>

                </div>
                <div class="card" style="padding: 2rem;">
                  <img src="https://cdn-icons-png.flaticon.com/512/1971/1971531.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong style="color:  #10b7e1;">Values</strong></h5>
                    <p class="card-text">
                      <strong style="color:rgb(255,153,0);">Pasion:</strong>Passion for animals is the engine of our work.
                      <br>
                      <strong style="color:rgb(255,153,0);">Commitment:</strong>Salupro professes strong values in terms of animal protection and the preservation of the natural environment.
                      <br>
                      <strong style="color:rgb(255,153,0);">Innovation:</strong>Our work has always been based on the value of ideas.
                    </p>
                  </div>
 
                </div>
              </div>

        </section>

        <section>
            <div style="background-color: white;">
                <p class="petpage-text3" style="text-align: justify;">The main objective of our Association is, first of all, to obtain and manage a municipal shelter for the collection and maintenance of abandoned animals and to have a correct hygienic-sanitary control, and to promote the adoptions of all housed animals, both dogs and dogs. cats. Until this is achieved, we will provide them with food and health care, as well as the sterilization of the females to avoid their indiscriminate reproduction, although the ultimate goal will always be to find them owners who provide them with the quality of life and the affection they deserve.</p>

            </div>
            

        </section>


    </div>

    {% endblock %}
</body>
</html>